/*General styles*/
@font-face {
  font-family: 'fontc4989361a1bb59b8412a2fbf65b13e30';
  src: url('https://nomail.com.ua/files/eot/c4989361a1bb59b8412a2fbf65b13e30.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/c4989361a1bb59b8412a2fbf65b13e30.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/c4989361a1bb59b8412a2fbf65b13e30.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrillic-300';
  src: local('MuseoSansCyrillic-300'), url('https://nomail.com.ua/files/woff/c4989361a1bb59b8412a2fbf65b13e30.woff') format('woff');
}

@font-face {
  font-family: 'fontece5ad4f08513ea56da19b4c5634aee4';
  src: url('https://nomail.com.ua/files/eot/ece5ad4f08513ea56da19b4c5634aee4.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/ece5ad4f08513ea56da19b4c5634aee4.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/ece5ad4f08513ea56da19b4c5634aee4.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrillic-500';
  src: local('MuseoSansCyrillic-500'), url('https://nomail.com.ua/files/woff/ece5ad4f08513ea56da19b4c5634aee4.woff') format('woff');
}

:root {
  --green: #03973D;
  --green-active: #27BC62;
  --blue: #039BE6;
  --blue-active: #38C4FF;
  --main-text: #1D1D39;
  --sec-text: #333333;
  --grey-bg: #F2F3F8;
  --grey-bg-line: #E7EAF1;
  --grey-bg-element: #D9DDE4;
  --dark-bg: #222A35;
  --dark-bg-line: #2C343E;
  --dark-bg-main-text: #F4F4F4;
  --dark-bg-sec-text: #828282;
}

body {
  font-family: "MuseoSansCyrillic-300", sans-serif;
  font-size: 14px;
  line-height: 26px;
}

/*Buttons*/
.btn {
  display: inline-block;
  text-align: center;
  margin: 0;
  text-align: center;
  border-radius: 50px;
  color: #FFF;
  border: none;
  font-size: 14px;
  line-height: 26px;
}

.btn-big {
  background-color: var(--green);
  padding: 10px 40px;
  min-width: 180px;
}

.btn-big:hover {
  background-color: var(--green-active);
}

.btn-normal {
  padding: 8px 30px;
  min-width: 100px;
  background-color: var(--blue);
}

.btn-normal:hover {
  background-color: var(--blue-active);
}

/*Links*/
.link, .link:visited, .link:hover {
  text-decoration: none;
  color: var(--blue);
}

.link:hover {
  color: var(--blue-active);
}

.link:hover::before {
  content: url("../icons/link-arrow.svg");
  position: absolute;
  transform: translateX(-20px);
}

/*typography*/
.text-main {
  font-family: 'MuseoSansCyrillic-300';
  font-size: 14px;
  line-height: 26px;
}

.text-lead {
  font-family: 'MuseoSansCyrillic-300';
  font-size: 16px;
  line-height: 28px;
}

.text-h3 {
  font-family: 'MuseoSansCyrillic-500';
  font-size: 20px;
  line-height: 30px;
}

.text-h2 {
  font-family: 'MuseoSansCyrillic-500';
  font-size: 28px;
  line-height: 40px;
}

.text-h1 {
  font-family: 'MuseoSansCyrillic-500';
  font-size: 36px;
  line-height: 48px;
}

.text-500{
  font-family: 'MuseoSansCyrillic-500';
}

.text-main-color {
  color: var(--main-text);
}

.text-sec-color {
  color: var(--sec-text);
}

.text-dark-main-color {
  color: var(--dark-bg-main-text);
}

.text-dark-sec-color {
  color: var(--dark-bg-sec-text);
}

/*Sections*/
.main__title-centered {}

.bg-grey {
  background-color: var(--grey-bg);
  padding: 120px 0;
  z-index: 1;
}
.main__text-header {
  margin-bottom: 80px;
}
.main__text-header.margin60 {
  margin-bottom: 60px;
}
.main__text-header.margin40{
  margin-bottom: 40px;
}

.main__content-info{
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1160px;
}


/* Header Navigation*/
.header__container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 25px 0;
}
.header__navigation-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.header__navigation-list-item {
  display: inline-block;
  margin-right: 40px;
}

.header__navigation-link, .header__navigation-link:hover, .header__navigation-link:visited {
  text-decoration: none;
}

.header__navigation-link:hover {
  color: var(--blue);
}

/*bubble*/
.bubble {
  max-width: 690px;
  padding: 38px 40px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(29, 29, 57, 0.2);
  margin: 0 auto;
  transform: translateY(-80px);
  z-index: 10;
  background-color: #fff;
  position: relative;
}

.bubble::after {}

.bubble__text {
  white-space: pre
}

/*Info block*/
.info{
  max-width: 340px;
}
.info__icon-wrapper{
  width: 50px;
  height: 50px;
}
.info__text.text-main{
  margin-bottom: 40px;
}

/*Analytics block*/
.analytics{
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 180px;
}
.analytics__image-wrapper{
  max-width: 395px;
  max-height: 350px;

}
.anlytics__buttons .btn{
  margin-right: 30px;
}
.image{
  width: 100%;
  height: 100%;
}

/*Promotion styles*/
.promotion{
  margin-top: 180px;
}
.promotion__container{
  max-width: 1160px;
  margin:0 auto;
}
.promotion__title{
  position: relative;
  margin-right:100px;
  width: 33%;
  max-width: 365px;
}
.promotion__title::after{
  content: url('../icons/bent-arrow.svg');
  background-color: var(--dark-bg-sec-test);
  position: absolute;
  transform: translate(225px,-215px);
}

.promotion__first-p{
  margin-right: 145px;
  position: relative;
  width: 33%;
  max-width: 257px;
}
.promotion__first-p::after{
  content: url('../icons/staright-arrow.svg');
  position: absolute;
  transform: translate(50px,-50px);
}

.promotion__second-p{
  width: 33%;
  max-width: 200px;
}

/*Footer styles*/
.footer{
  background-color: var(--dark-bg);
}

.footer_container-block{
  max-width: 1160px;
  margin: 0 auto;
}
.footer__link{
  display: block;
}
.footer__link-row{
  padding: 60px 0;
  border-bottom: 1px solid var(--dark-bg-line)
}
.footer__contact-row{
  padding: 40px 0 20px 0;
}
.new-window{
  position: relative;
}
.footer__icon-wrapper{
  width: 50px;
  height: 50px;
}
.new-window::after{
  content: url('../icons/new-window.svg');
  position: absolute;
  transform: translateY(-10px);
}
.contact__phone{
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  display: block;
}
